body{
	padding: 1vh;
	user-select: none;
	overflow-x: hidden;
}

hr{
	margin-top: 0;
}

div.header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 42px;
	background: white;
	padding: 5px;
	padding-right: 15px;
	z-index: 1000;
}

#app{
	margin-top: 42px;
}

#table-sdp td {
	line-height: 28px;
}

[v-cloak] {
  display:none;
}

button.btn-filter {
	margin-bottom: 5px;
}

input#filter{
	width: 250px;
	margin-right: 8px;
}

button#save{
	margin-right: 8px;
}