<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AES67 Stream Monitor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div id="app" v-cloak>
			<div id="sdp" v-if="page == 'sdp'">
				<div id="errors" class="alert alert-danger" v-if="errors.length > 0">
					<span v-for="error in errors">{{ error }}<br /></span>
				</div>
				<div>
					<div class="header"><h4 class="d-inline-block">Streams <span class="badge badge-primary"><span v-if="filterString != ''">{{ filtered }}/</span>{{ sdp.length }}</span></h4><button class="d-inline-block btn btn-sm btn-secondary float-right" v-on:click="page='settings';">Settings</button><input class="form-control form-control-sm d-inline-block float-right" id="filter" type="text" v-model="filterString" placeholder="Filter streams" /></div>
					<div class="alert alert-primary" role="alert" v-if="sdp.length == 0">Waiting for SDP Messages</div>
					<div class="table-responsive">
						<table id="table-sdp" class="table table-sm" v-if="sdp.length > 0">
							<thead v-if="filtered > 0 || (sdp.length > 0 && filterString == '')">
								<tr>
									<th>Name</th>
									<th></th>
									<th>Info</th>
									<th>Device Address</th>
									<th>Multicast Address</th>
									<th>Media format</th>
									<th>Channel</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="stream in sdp" dis-v-on:click="sdpHandler(stream)" dis-v-bind:class="{ 'table-primary': (selected == stream.id) }" v-if="filterStream(stream) && (stream.isSupported || !settings.hideStreams)">
									<td>{{ stream.name }}</td>
									<td><span v-if="stream.dante" class="badge badge-secondary">Dante</span></td>
									<td>{{ stream.description }}</td>
									<td>{{ stream.origin.address }}</td>
									<td>{{ stream.mcast }}</td>
									<td>{{ stream.rtpMap }}</td>
									<td>
										<select class="form-control form-control-sm" :disabled="!stream.isSupported || audio == stream.id" v-model="selected[stream.id]">
											<option v-for="channel in getChannels(stream)" v-bind:value="channel.val">{{ channel.name }}</option>
										</select>
									</td>
									<td><button class="btn btn-sm btn-success" :disabled="!stream.isSupported" v-on:click="audioHandler(stream)" v-bind:class="{ 'btn-success': (audio != stream.id), 'btn-danger': (audio == stream.id) }" v-html="stream.id == audio ? 'Stop' : 'Listen'">Listen</button></td>
									<td><button class="btn btn-sm btn-primary" v-on:click="detailHandler(stream)">Details</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="alert alert-primary" role="alert" v-if="filtered == 0 && sdp.length > 0 && filterString != ''">No matchings streams.</div>
				</div>
			</div>
			<div id="settings" v-if="page == 'settings'">
				<div class="header"><h4 class="d-inline-block">Settings</h4><button class="d-inline-block btn btn-sm btn-secondary float-right" v-on:click="saveSettings(false)">Cancel</button><button class="d-inline-block btn btn-sm btn-success float-right" id="save" v-on:click="saveSettings(true)">Save</button></div>
				<hr />
				<div class="row">
					<div class="col-4">
						<h6>Network</h6><hr>
						<div class="form-group">
							<label for="network">Network interface</label>
							<select class="form-control" v-model="currentSettings.addr" id="network">
								<option v-for="addr in network" v-bind:value="addr">{{ addr }}</option>
							</select>
						</div>
					</div>
					<div class="col-4">
						<h6>Audio</h6><hr>
						<div class="form-group">
							<label for="audiodevice">Audiodevice</label>
							<select class="form-control" v-model="currentSettings.device" id="audiodevice">
								<option v-for="device in audiodevices" v-bind:value="device.id">{{ device.name }}</option>
							</select>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" v-model="currentSettings.jitterBuffer" id="jitterbuffer">
							<label class="form-check-label" for="jitterbuffer">
								Use RTP buffering
							</label>
						</div>
						<div class="input-group">
							<input class="form-control" type="number" v-model="currentSettings.jitterBufferTime" :disabled="!currentSettings.jitterBuffer" min="1" max="1000"/>
							<div class="input-group-append">
								<span class="input-group-text">packets</span>
							</div>
						</div>
						<small v-if="audio != 0">Playback needs to be restarted for these settings to become active</small>
					</div>
					<div class="col-4">
						<h6>Other</h6><hr>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" v-model="currentSettings.hideStreams" id="hideStreams">
							<label class="form-check-label" for="hideStreams">
								Hide unsupported streams
							</label>
						</div>
					</div>
				</div>

			</div>
			<div id="detail" v-if="page == 'detail'">
				<div class="header">
					<h4 class="d-inline-block">{{ current.name }} <small>{{ current['sess-info'] }}</small></h4>

					<button class="d-inline-block btn btn-sm btn-secondary float-right" v-on:click="page='sdp';">Back</button>
					<button class="btn btn-sm btn-success float-right" id="listen" v-on:click="audioHandler(current)" v-bind:class="{ 'btn-success': (audio != current.id), 'btn-danger': (audio == current.id) }" v-html="current.id == audio ? 'Stop' : 'Listen'" :disabled="!current.isSupported">Listen</button>
					<select class="form-control form-control-sm d-inline-block float-right" id="listen" :disabled="audio == current.id || !current.isSupported" v-model="selected[current.id]">
						<option v-for="channel in getChannels(current)" v-bind:value="channel.val">{{ channel.name }}</option>
					</select>
				</div>
				<hr />
				<div class="row">
					<div class="col-7">
						<h6>...</h6>
					</div>
					<div class="col-5">
						<div class="form-group">
							<h6 for="sdpraw">Raw SDP</h6>
							<textarea class="form-control" id="sdpraw" rows="24" readonly>{{ current.raw }}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>